<!doctype html>
<html lang="eng" data-ng-app="">
<head>
<meta charset="UTF-8">
    <title>An Intro to Angular.JS</title>
    <script src="../../angularLib/angular.js"></script>
    <script src="../app.js"></script>
</head>
<body data-ng-controller="SimpleController">
    Name: <input type="text" data-ng-model="name" /> {{ name }}

    <br />

    <ul>
        <li data-ng-repeat="person in customers | filter: name | orderBy:'city'">{{ person.name }} - {{ person.city | uppercase }}</li>
    </ul>

    <script>
        function SimpleController($scope){
            $scope.customers = [
                                {name:'Muzafar Test1', city:'London'},
                                {name: 'Salah Test2', city:'Khartoum'},
                                {name:'Mahgoub Test3', city:'Heaven'}
                                ];
        }

    </script>
</body>
</html>